<h1>Tesing Varaible components and Data-Binding Components</h1>
<p>Both compoenent (Varaible components and Data-Binding) will imported and display in this app component</p>
<p> Making a  table to show the compenets values</p>

<table style="width: 100%;">
  <tr>
    <td>
      <p style="color: green;"> app-variables selector declare in "app-variables" compoenent and import here to use it.Check ts file</p>
    <app-variables></app-variables>
    </td>
    <td>
      <p style="color: red;"> app-data-binding selector declare in "app-data-binding" compoenent and import here to use it.Check ts file</p>
      <app-data-binding></app-data-binding>
    </td>
    
  </tr>
</table>